<!--
  Generated template for the PatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Patient Information</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Patient bio -->
  <div id="patient-container">
    <div id="patient-name">{{patient.lastName}}, {{patient.firstName}}</div>
    <div id="patient-information">({{patient.gender}}, {{patient.dob}})</div>
    <div>
      <span *ngIf="patient.biopsyStatus != null">
        Biopsy Status: {{patient.biopsyStatus.status}}
        <span *ngIf="patient.biopsyStatus.biopsyDate != null"> on {{patient.biopsyStatus.biopsyDate}}</span>
      </span>
      <span *ngIf="patient.phoneNumber != null">Phone: {{patient.phoneNumber}} <br/></span>
      <span *ngIf="patient.contactFirstName != null">Contact: {{patient.contactLastName}}, {{patient.contactFirstName}}, </span>
      <span *ngIf="patient.contactPhoneNumber != null">Contact Phone: {{patient.contactPhoneNumber}}</span>
    </div>
  </div>

  <!-- Patient information -->
  <ion-card class="card-container">

    <!-- Summary -->
    <ion-card-header class="card-header">
      <ion-icon name="clipboard"></ion-icon>
      Summary
      </ion-card-header>
      <ion-card-content>
        <patient-summary [patient]="patient"></patient-summary>
      </ion-card-content>


    <div class="patient-divider"></div>

    <!-- Scheduled Surgery -->
      <ion-card-header class="card-header">
        <ion-icon name="pulse"></ion-icon>&nbsp;&nbsp;Scheduled Surgery
      </ion-card-header>

      <ion-item-sliding *ngFor="let surgery of patient.surgeries" (click)="viewSurgery(surgery)">
        <button ion-item text-wrap *ngIf="surgery.completedDate != null; else elseBlock">
          Surgery completed on {{toLocaleDateString(surgery.completedDate)}} at {{surgery.facility}} with {{surgery.providerName}}
        </button>
        <ng-template #elseBlock>
          <button ion-item text-wrap>
            Scheduled on {{toLocaleDateString(surgery.scheduledDate)}} at {{surgery.facility}} with {{surgery.providerName}}
          </button>
        </ng-template>
      </ion-item-sliding>
      
      <ion-buttons end>
        <button ion-button icon-start round (click)="addScheduledSurgery()" class="add-button">
          <ion-icon name="add"></ion-icon>
          Add Surgery
        </button>
      </ion-buttons>

    <div class="patient-divider"></div>
    
    <!--  Surgical Pathology -->
    <ion-card-header class="card-header">
      <ion-icon name="body"></ion-icon>
      Surgical Pathology
    </ion-card-header>

    <ion-item-sliding *ngFor="let pathology of pathologies" (click)="viewPathologySurgery(pathology)">
      <button ion-item text-wrap *ngIf="pathology.SurgeryType != null; else elseBlock">
        Surgery Type: {{pathology.SurgeryType}}
      </button>
      <ng-template #elseBlock>
        <button ion-item></button>
      </ng-template>
    </ion-item-sliding>

    <ion-buttons end>
      <button ion-button icon-start round (click)="addPathologySurgery()" class="add-button">
        <ion-icon name="add"></ion-icon>
        Add Pathology
      </button>
    </ion-buttons>

  </ion-card>
</ion-content>
