<!--
  Generated template for the PatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{patient.LastName}}, {{patient.FirstName}} , {{patient.DOB}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-title>Surgery</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addScheduledSurgery()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-list>
      <ion-item-sliding *ngFor="let surgery of surgeries" (click)="viewSurgery(surgery)">
        <button ion-item *ngIf="surgery.CompletedDate != null; else elseBlock">
          Surgery completed on {{surgery.CompletedDate}} at {{surgery.Facility}} with {{surgery.ProviderName}}
        </button>
        <ng-template #elseBlock>
          <button ion-item>
            Scheduled on {{surgery.ScheduledDate}} at {{surgery.Facility}} with {{surgery.ProviderName}}
          </button>
        </ng-template>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <!-- <ion-card>
    <ion-title>Biopsy</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editBiopsy()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-card-title>
      {{patient.BiopsyStatus}}
    </ion-card-title>
  </ion-card> -->

</ion-content>
