<ion-header>
    <ion-toolbar>
      <ion-title>Biopsy Not Scheduled</ion-title>
      <ion-back-button></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="patient != null && patient.biopsy != null && patient.biopsy.notScheduled != null">
  <ion-item>
    <ion-label>Reason</ion-label>
    <ion-input type="text" [(ngModel)]="patient.biopsy.notScheduled.reason"></ion-input>
  </ion-item>
  <ion-item *ngIf="patient.biopsy.notScheduled.dateRecorded != null">
    <ion-label>Date Recorded</ion-label>
    <div>{{this.dateUtils.toLocaleDateString(patient.biopsy.notScheduled.dateRecorded)}}</div>
  </ion-item>
  <ion-button color="primary" (click)="save()">Save</ion-button>
</ion-content>
