ion-item {
    --inner-border-width: 0px 0px 0px 0px;
}
#patient-container {
    margin-top: 5em !important;
    text-align: center;
}

#patient-name {
    font-size: 2.5em !important;
    font-weight: bold;
}

#patient-information {
    font-size: 2em !important;
}

.card-header {
    color: #777 !important;
    font-size: 1.33em !important;
}

.add-button {
    margin-bottom: 1em;
}

.card-container, .card-container .item-md  {
    background-color: rgb(248, 248, 248) !important;
}

.patient-divider {
    border: 1px dashed #CCC;
}