<ion-header>
  <ion-toolbar>
      <!--TODO: display age -->
    <ion-title *ngIf="patient != null">
      {{patient.lastName}}, {{patient.firstName}} 
      ({{patient.gender}}, {{patient.dob}})
    </ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="patient != null">
      <ion-button icon-only [routerLink]="['/patient-form/' + patient._id]">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="patient != null">

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="summaryTabClicked()">
        <ion-item>
          <ion-label>Summary</ion-label>
        </ion-item>
      </ion-tab-button>
      <ion-tab-button (click)="stagingTabClicked()">
        <ion-item>
          <ion-label>Staging</ion-label>
        </ion-item>
      </ion-tab-button>
      <ion-tab-button (click)="biopsyTabClicked($event)">
        <ion-item>
          <ion-label>Biopsy</ion-label>
        </ion-item>
      </ion-tab-button>
      <ion-tab-button (click)="radiationTabClicked($event)">
        <ion-item>
          <ion-label>Radiation</ion-label>
        </ion-item>
      </ion-tab-button>
      <ion-tab-button (click)="surgeryTabClicked()">
        <ion-item>
          <ion-label>Surgery</ion-label>
        </ion-item>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- Patient information -->
  <div id="patient-container">
    <!-- Summary -->
    <ng-container *ngIf="tabClicked=='summary'">
      <ion-card class="card-container">
        <ion-card-header class="card-header">
          <ion-icon name="clipboard"></ion-icon>
          Summary
        </ion-card-header>
        <ion-card-content>
          <patient-summary [patient]="patient"></patient-summary>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="patient.biopsy != null">
        <ion-card-content>
          <app-biopsy-summary [biopsy]="patient.biopsy"></app-biopsy-summary>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="patient.radiationTherapies != null">
        <ion-card-content>
          <app-radiation-therapy-summary 
            [radiationTherapy]="patient.radiationTherapies[patient.radiationTherapies.length-1]">
          </app-radiation-therapy-summary>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="patient.surgery != null">
        <ion-card-content>        
          <app-surgery-summary [patient]="patient"></app-surgery-summary>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Completed Biopsy -->
    <ng-container *ngIf="tabClicked=='biopsy'">
      <completed-biopsy-items [patient]="patient"></completed-biopsy-items>
    </ng-container>

    <!-- Clinical Breast Staging -->
    <ng-container *ngIf="tabClicked=='staging'">
      <ion-card-header class="card-header">
        <ion-icon name="body"></ion-icon>
        Clinical Breast Staging
      </ion-card-header>
      <div class="patient-divider"></div>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="primary" shape="round" fill="solid" [routerLink]="['/clinical-breast-staging/' + patient._id]" class="add-button">
              <ion-icon name="add"></ion-icon>
              Add Clinical Breast Staging
          </ion-button>
        </ion-buttons>
      </ion-toolbar>       
    </ng-container>
    
    <!-- Radiation Therapy -->
    <ng-container *ngIf="tabClicked=='radiation'">
      <radiation-therapy-items [patient]="patient"></radiation-therapy-items>
    </ng-container>

    <ng-container *ngIf="tabClicked=='surgery'">
      <app-surgery-home [patient]="patient" *ngIf="tabClicked=='surgery'"></app-surgery-home>
    </ng-container>

  </div>
</ion-content>
