<ion-header>
  <ion-toolbar>
    <ion-title>Patient Information</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="patient != null">
      <ion-button icon-only [routerLink]="['/patient-form/' + patient._id]">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="patient != null">

  <!-- Patient bio -->
  <!--TODO: display age -->
  <div id="patient-container">
    <div id="patient-name">{{patient.lastName}}, {{patient.firstName}}</div>
    <div id="patient-information">({{patient.gender}}, {{patient.dob}})</div>
    <div>
      <span *ngIf="patient.biopsyStatus != null">
        Biopsy Status: {{patient.biopsyStatus.status}}
        <span *ngIf="patient.biopsyStatus.biopsyDate != null"> on {{patient.biopsyStatus.biopsyDate}}</span>
      </span>
      <span *ngIf="patient.phoneNumber != null">Phone: {{patient.phoneNumber}} <br/></span>
      <span *ngIf="patient.contactFirstName != null">Contact: {{patient.contactLastName}}, {{patient.contactFirstName}}, </span>
      <span *ngIf="patient.contactPhoneNumber != null">Contact Phone: {{patient.contactPhoneNumber}}</span>
    </div>
  </div>

  <!-- Patient information -->
  <ion-card class="card-container">

    <!-- Summary -->
    <ion-card-header class="card-header">
      <ion-icon name="clipboard"></ion-icon>
      Summary
    </ion-card-header>
    <ion-card-content>
      <patient-summary [patient]="patient"></patient-summary>
      <app-biopsy-summary [biopsy]="patient.biopsy" *ngIf="patient.biopsy != null"></app-biopsy-summary>
      <app-radiation-therapy-summary 
        [radiationTherapy]="patient.radiationTherapies[patient.radiationTherapies.length-1]" 
        *ngIf="patient.radiationTherapies != null">
      </app-radiation-therapy-summary>
      <app-surgery-summary [patient]="patient"></app-surgery-summary>
    </ion-card-content>

    <!-- Completed Biopsy -->
    <completed-biopsy-items [patient]="patient"></completed-biopsy-items>
    <div class="patient-divider"></div>

    <!-- Clinical Breast Staging -->
    <ion-card-header class="card-header">
      <ion-icon name="body"></ion-icon>
      Clinical Breast Staging
    </ion-card-header>

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="primary" shape="round" fill="solid" [routerLink]="['/clinical-breast-staging/' + patient._id]" class="add-button">
            <ion-icon name="add"></ion-icon>
            Add Clinical Breast Staging
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Radiation Therapy -->
    <radiation-therapy-items [patient]="patient"></radiation-therapy-items>

  </ion-card>
</ion-content>
