<!--
  This component saves the following properties of a completed biopsy:
  procedureDate: string;
  reportDate: string;
  pathologistName: string;
  facility: string;
  type: BiopsyType;
  site: BiopsySite;
  histology: BiopsyHistology;

  TODO: set allowEmptySelection = true for radio buttons
  -->
<ion-header>
  <ion-toolbar>
    <ion-title>Completed Biopsy</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="completedBiopsy != null && completedBiopsy.type != null 
  && completedBiopsy.site != null && completedBiopsy.histology != null">

  <ion-card-content>
    <app-completed-biopsy-summary [biopsy]="completedBiopsy"></app-completed-biopsy-summary>
  </ion-card-content>

  <form #completedBiopsyForm="ngForm">
  
    <ion-item>
      <ion-label>Report Date</ion-label>
      <!--TODO: convert all date inputs to use widget below-->
      <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="completedBiopsy.reportDate" name="reportDate" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Procedure Date</ion-label>
      <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="completedBiopsy.procedureDate" name="procedureDate" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Pathologist</ion-label>
      <ion-input type="text" [(ngModel)]="completedBiopsy.pathologistName" name="pathologist" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Facility</ion-label>
      <ion-input type="text" [(ngModel)]="completedBiopsy.facility" name="facility" required></ion-input>
    </ion-item>

    <!--TODO: allowEmptySelection for radio buttons-->
    <ion-list>
      <ion-radio-group [(ngModel)]="completedBiopsy.type.type" name="biopsyType" 
        (ionChange)="biopsyTypeChange()" required>
        <ion-list-header>Biopsy Type</ion-list-header>
        <ion-item>
          <ion-label>Fine Needle Aspiration</ion-label>
          <ion-radio slot="start" value="{{biopsyTypeEnum.FNA}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Core Needle Biopsy</ion-label>
          <ion-radio slot="start" value="{{biopsyTypeEnum.CNB}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-radio slot="start" value="{{biopsyTypeEnum.Other}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="completedBiopsy.type.type == biopsyTypeEnum.Other">
      <ion-label>Biopsy Type (Other)</ion-label>
      <ion-input type="text" [(ngModel)]="completedBiopsy.type.other" name="biopsyTypeOther" required></ion-input>
    </ion-item>

    <!-- Site -->
    <ion-list>
      <ion-radio-group [(ngModel)]="completedBiopsy.site.tissue" name="tissue" 
        (ionChange)="tissueChange()" required>
        <ion-list-header>Biopsy Site</ion-list-header>
        <ion-item>
          <ion-label>Breast</ion-label>
          <ion-radio slot="start" value="{{tissueEnum.Breast}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Lymph Node</ion-label>
          <ion-radio slot="start" value="{{tissueEnum.LymphNode}}"></ion-radio>`
        </ion-item>
        <ion-item>
          <ion-label>Liver</ion-label>
          <ion-radio slot="start" value="{{tissueEnum.Liver}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-radio slot="start" value="{{tissueEnum.Other}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="completedBiopsy.site.tissue == tissueEnum.Other">
      <ion-label>Biopsy Site (Other)</ion-label>
      <ion-input type="text" [(ngModel)]="completedBiopsy.site.otherTissue" name="siteOther" required></ion-input>
    </ion-item>
    
    <ion-list *ngIf="completedBiopsy.site.tissue == tissueEnum.Breast">
      <ion-radio-group [(ngModel)]="completedBiopsy.site.side" name="side" required>
        <ion-list-header>Side</ion-list-header>
        <ion-item>
          <ion-label>Left</ion-label>
          <ion-radio slot="start" value="{{biopsySideEnum.Left}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Right</ion-label>
          <ion-radio slot="start" value="{{biopsySideEnum.Right}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list *ngIf="completedBiopsy.site.tissue == tissueEnum.LymphNode">
      <ion-radio-group [(ngModel)]="completedBiopsy.site.lymphNode" name="lymphNode" 
        (ionChange)="lymphNodeChange()" required>
        <ion-list-header>Lymph Node</ion-list-header>
        <ion-item>
          <ion-label>Axillary</ion-label>
          <ion-radio slot="start" value="{{lymphNodeEnum.Axillary}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Supraclavicular</ion-label>
          <ion-radio slot="start" value="{{lymphNodeEnum.SupraClavicular}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Cervical</ion-label>
          <ion-radio slot="start" value="{{lymphNodeEnum.Cervical}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-radio slot="start" value="{{lymphNodeEnum.Other}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="completedBiopsy.site.lymphNode == lymphNodeEnum.Other">
      <ion-label>Lymph Node (Other)</ion-label>
      <ion-input type="text" [(ngModel)]="completedBiopsy.site.otherLymphNode" name="lymphNodeOther" required></ion-input>
    </ion-item>
    <!-- end Site -->
    
    <!-- Histology -->
    <ion-list>
      <ion-radio-group [(ngModel)]="completedBiopsy.histology.histology" name="histology" 
        (ionChange)="histologyChange()" required>
        <ion-list-header>Histology</ion-list-header>
        <ion-item>
          <ion-label>Invasive Ductal Carcinoma</ion-label>
          <ion-radio slot="start" value="{{histologyEnum.IDC}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Invasive Lobular Carcinoma</ion-label>
          <ion-radio slot="start" value="{{histologyEnum.ILC}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Ductal Carcinoma In Situ</ion-label>
          <ion-radio slot="start" value="{{histologyEnum.DCIS}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Lobular Carcinoma In Situ</ion-label>
          <ion-radio slot="start" value="{{histologyEnum.LCIS}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-radio slot="start" value="{{histologyEnum.Other}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="completedBiopsy.histology.histology == histologyEnum.Other">
      <ion-label>Histology (Other)</ion-label>
      <ion-input type="text" [(ngModel)]="completedBiopsy.histology.other" name="histologyOther" required></ion-input>
    </ion-item>
    <!-- end Histology -->

    <ion-button color="primary" type="submit" [disabled]="!completedBiopsyForm.form.valid" 
      (click)="save()">Next</ion-button>
    
    <!-- <ion-button color="primary" (click)="save()">Next</ion-button> -->
  </form>
</ion-content>