<ion-header>
    <ion-toolbar>
      <ion-title>Features</ion-title>
      <ion-back-button></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="completedBiopsy != null && completedBiopsy.features != null">
  <form #featuresForm="ngForm">
    <!-- Grade -->
    <ion-list>
      <ion-radio-group [(ngModel)]="completedBiopsy.features.grade" name="grade" required>
        <ion-list-header>Grade</ion-list-header>
        <ion-item>
          <ion-label>{{gradeEnum.G1}}</ion-label>
          <ion-radio slot="start" value="{{gradeEnum.G1}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{gradeEnum.G2}}</ion-label>
          <ion-radio slot="start" value="{{gradeEnum.G2}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{gradeEnum.G3}}</ion-label>
          <ion-radio slot="start" value="{{gradeEnum.G3}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{gradeEnum.Unable}}</ion-label>
          <ion-radio slot="start" value="{{gradeEnum.Unable}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{gradeEnum.NotGiven}}</ion-label>
          <ion-radio slot="start" value="{{gradeEnum.NotGiven}}" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- LVI -->
    <ion-list>
      <ion-radio-group [(ngModel)]="completedBiopsy.features.lvi" name="lvi" required>
        <ion-list-header>LVI</ion-list-header>
        <ion-item>
          <ion-label>{{lviEnum.Positive}}</ion-label>
          <ion-radio slot="start" value="{{lviEnum.Positive}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{lviEnum.Negative}}</ion-label>
          <ion-radio slot="start" value="{{lviEnum.Negative}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{lviEnum.NotDetermined}}</ion-label>
          <ion-radio slot="start" value="{{lviEnum.NotDetermined}}" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button color="primary" [disabled]="!featuresForm.form.valid" (click)="save()">Save</ion-button>
  </form>
</ion-content>