<ion-header>
    <ion-toolbar>
      <ion-title>Features</ion-title>
      <ion-back-button></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="completedBiopsy != null && completedBiopsy.features != null">
  <!-- Grade -->
  <ion-list>
    <ion-radio-group [(ngModel)]="completedBiopsy.features.grade" required>
      <ion-list-header>Grade</ion-list-header>
      <ion-item>
        <ion-label>Grade 1/Low Grade</ion-label>
        <ion-radio slot="start" value="{{gradeEnum.G1}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Grade 2/Intermediate Grade</ion-label>
        <ion-radio slot="start" value="{{gradeEnum.G2}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Grade 3/High Grade</ion-label>
        <ion-radio slot="start" value="{{gradeEnum.G3}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Unable to Grade</ion-label>
        <ion-radio slot="start" value="{{gradeEnum.Unable}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Grade Given</ion-label>
        <ion-radio slot="start" value="{{gradeEnum.NotGiven}}" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- LVI -->
  <ion-list>
    <ion-radio-group [(ngModel)]="completedBiopsy.features.lvi" required>
      <ion-list-header>LVI</ion-list-header>
      <ion-item>
        <ion-label>Positive</ion-label>
        <ion-radio slot="start" value="{{lviEnum.Positive}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Negative</ion-label>
        <ion-radio slot="start" value="{{lviEnum.Negative}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>NotDetermined</ion-label>
        <ion-radio slot="start" value="{{lviEnum.NotDetermined}}" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button color="primary" (click)="save()">Save</ion-button>
</ion-content>