<div class="tab-heading">
  <ion-icon name="body"></ion-icon>Chemotherapy
</div>

<ng-container *ngIf="patient.chemotherapies != null; else elseBlock">
<ion-item-sliding *ngFor="let chemotherapy of patient.chemotherapies">
  <ion-item text-wrap [routerLink]="['/patient/' + patient._id + '/chemotherapy/' + chemotherapy.id]">
      <ng-container *ngIf="chemotherapy.regimen != chemotherapyRegimenEnum.Other else elseBlock">
        Regimen: {{chemotherapy.regimen}}<br/>
      </ng-container>
      <ng-template #elseBlock>
        Regimen: {{chemotherapy.regimenOther}}<br/>
      </ng-template>
      Start Date: {{this.dateUtils.toLocaleDateString(chemotherapy.startDate)}}<br/>
      Planned Cycles: {{chemotherapy.plannedCycles}}<br/>
      <ng-container *ngIf="chemotherapy.calculatedEndDate != null && chemotherapy.calculatedEndDate != ''">
        Calculated End Date: {{this.dateUtils.toLocaleDateString(chemotherapy.calculatedEndDate)}}<br/>
      </ng-container>
      <ng-container *ngIf="chemotherapy.actualEndDate != null && chemotherapy.actualEndDate != ''">
        Actual End Date: {{this.dateUtils.toLocaleDateString(chemotherapy.actualEndDate)}}<br/>
      </ng-container>
  </ion-item>
</ion-item-sliding>
</ng-container>

<ng-template #elseBlock>
  <div class="no-information">No information found.</div>
</ng-template>

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" shape="round" fill="solid" [routerLink]="['/patient/' + patient._id + '/chemotherapy']" class="add-button">
        <ion-icon name="add"></ion-icon>
        Add Chemotherapy
      </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-content>
