<ion-header>
    <ion-toolbar>
        <ion-title>Biopsy Status</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="patient != null">
    <ion-list>
        <ion-radio-group [(ngModel)]="biopsyStatus">
          <ion-item>
            <ion-label>Completed</ion-label>
            <ion-radio value={{biopsyStatusEnum.Completed}}></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Scheduled</ion-label>
            <ion-radio value={{biopsyStatusEnum.Scheduled}}></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Scheduled</ion-label>
            <ion-radio value={{biopsyStatusEnum.NotScheduled}}></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Indicated</ion-label>
            <ion-radio value={{biopsyStatusEnum.NotIndicated}}></ion-radio>
          </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button color="primary" (click)="save()">Save</ion-button>
  </ion-content>