<ion-header>
    <ion-toolbar>
        <ion-title>Biopsy Status</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="patient != null && patient.biopsy != null">
    <form #biopsyStatusForm="ngForm">
      <ion-list>
          <ion-radio-group [(ngModel)]="patient.biopsy.status" name="biopsyStatus" 
          (ionChange)="statusChange()" required>
            <ion-item>
              <ion-label>Completed</ion-label>
              <ion-radio value={{biopsyStatusEnum.Completed}}></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Scheduled</ion-label>
              <ion-radio value={{biopsyStatusEnum.Scheduled}}></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Not Scheduled</ion-label>
              <ion-radio value={{biopsyStatusEnum.NotScheduled}}></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Not Indicated</ion-label>
              <ion-radio value={{biopsyStatusEnum.NotIndicated}}></ion-radio>
            </ion-item>
        </ion-radio-group>
      </ion-list>
      <ng-container *ngIf="patient.biopsy.status == biopsyStatusEnum.NotScheduled && patient.biopsy.notScheduled != null">
          <ion-item>
            <ion-label>Reason Not Scheduled</ion-label>
            <ion-input type="text" [(ngModel)]="patient.biopsy.notScheduled.reason" name="notScheduledReason" required></ion-input>
          </ion-item>
          <ion-item *ngIf="patient.biopsy.notScheduled.dateRecorded != null">
            <ion-label>Date Recorded</ion-label>
            <div>{{dateUtils.toLocaleDateString(patient.biopsy.notScheduled.dateRecorded)}}</div>
          </ion-item>
        </ng-container>
      <ng-container *ngIf="patient.biopsy.status == biopsyStatusEnum.NotIndicated && patient.biopsy.notIndicated != null">
        <ion-item>
          <ion-label>Reason Not Indicated</ion-label>
          <ion-input type="text" [(ngModel)]="patient.biopsy.notIndicated.reason" name="notIndicatedReason" required></ion-input>
        </ion-item>
        <ion-item *ngIf="patient.biopsy.notIndicated.dateRecorded != null">
          <ion-label>Date Recorded</ion-label>
          <div>{{dateUtils.toLocaleDateString(patient.biopsy.notIndicated.dateRecorded)}}</div>
        </ion-item>
      </ng-container>
      <ion-toolbar>
        <ion-button slot="end" color="primary" shape="round" 
          [disabled]="biopsyStatusForm.invalid" (click)="save()">Save</ion-button>
      </ion-toolbar>
    </form>
  </ion-content>