<ion-header>
  <ion-toolbar>
      <ion-title>Surgical Pathology for {{patient.lastName}}, {{patient.firstName}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #pathologyForm="ngForm">
        <ion-item>
            <ion-label>Surgery Date</ion-label>
            <!-- TODO: use ion-datetime everywhere -->
            <ion-datetime name="surgeryDate" display-format="MMM DD, YYYY" [(ngModel)]="pathology.surgeryDate" required></ion-datetime>
        </ion-item>

        <ion-list>
            <ion-list-header>Surgery Type</ion-list-header>
            <ion-radio-group name="surgeryType" [(ngModel)]="pathology.surgeryType" required>
                <ion-item>
                    <ion-label>Lumpectomy</ion-label>
                    <ion-radio value="{{surgeryTypeEnum.Lumpectomy}}"></ion-radio>
                    </ion-item>
                <ion-item>
                    <ion-label>Modified Radical Mastectomy</ion-label>
                    <ion-radio value="{{surgeryTypeEnum.ModifiedRadicalMastectomy}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Other</ion-label>
                    <ion-radio value="{{surgeryTypeEnum.Other}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-list>
            <ion-list-header>Surgery Histology</ion-list-header>
            <ion-radio-group name="surgeryHistology" [(ngModel)]="pathology.histology" required>
                <ion-item>
                    <ion-label>Invasive Ductal Carcinoma</ion-label>
                    <ion-radio value="{{histologyEnum.IDC}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Invasive Lobular Carcinoma</ion-label>
                    <ion-radio value="{{histologyEnum.ILC}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>DCIS (Ductal Carcinoma In Situ)</ion-label>
                    <ion-radio value="{{histologyEnum.DCIS}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>LCIS (Lobular Carcinoma In Situ)</ion-label>
                    <ion-radio value="{{histologyEnum.LCIS}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Other</ion-label>
                    <ion-radio value="{{histologyEnum.Other}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        
        <ion-list>
            <ion-list-header>Estrogren Receptor</ion-list-header>
            <ion-radio-group name="estrogrenReceptor" [(ngModel)]="pathology.er.status" required>
                <ion-item>
                    <ion-label>ER+</ion-label>
                    <ion-radio value="{{erEnum.Positive}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>ER-</ion-label>
                    <ion-radio value="{{erEnum.Negative}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>None</ion-label>
                    <ion-radio value="{{erEnum.None}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-list>
            <ion-list-header>Progesterone Receptor</ion-list-header>
            <ion-radio-group name="progesteroneReceptor" [(ngModel)]="pathology.pr.status" required>
                <ion-item>
                    <ion-label>PR+</ion-label>
                    <ion-radio value="{{prEnum.Positive}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>PR-</ion-label>
                    <ion-radio value="{{prEnum.Negative}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>None</ion-label>
                    <ion-radio value="{{prEnum.None}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-list>
            <ion-list-header>Human Endothelial Growth Receptor 2</ion-list-header>
            <ion-radio-group name="her2Receptor" [(ngModel)]="pathology.her2.status" required>
                <ion-item>
                    <ion-label>HER2+</ion-label>
                    <ion-radio value="{{her2Enum.Positive}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>HER2-</ion-label>
                    <ion-radio value="{{her2Enum.Negative}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>None</ion-label>
                    <ion-radio value="{{her2Enum.None}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-list>
            <ion-list-header>Surgical Features</ion-list-header>
            <ion-radio-group name="surgicalFeature" [(ngModel)]="pathology.features.lvi" required>
                <ion-item>
                    <ion-label>LVI+</ion-label>
                    <ion-radio value="{{lviEnum.Positive}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>LVI-</ion-label>
                    <ion-radio value="{{lviEnum.Negative}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>None</ion-label>
                    <ion-radio value="{{lviEnum.NotDetermined}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        
       <ion-list>
            <ion-list-header>Tumor Grade</ion-list-header>
            <ion-radio-group name="tumorGrade" [(ngModel)]="pathology.features.grade" required>
                <ion-item>
                    <ion-label>Grade 1</ion-label>
                    <ion-radio value="{{gradeEnum.G1}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Grade 2</ion-label>
                    <ion-radio value="{{tumorGradeEnum.G2}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Grade 3</ion-label>
                    <ion-radio value="{{tumorGradeEnum.G3}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Unable to Grade</ion-label>
                    <ion-radio value="{{tumorGradeEnum.Unable}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Grade Not Recorded</ion-label>
                    <ion-radio value="{{tumorGradeEnum.NotGiven}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-list>
            <ion-list-header>Surgical Margins</ion-list-header>
            <ion-radio-group name="surgicalMargin" [(ngModel)]="pathology.surgicalMargin" required>
                <ion-item>
                    <ion-label>Focally Positive</ion-label>
                    <ion-radio value="{{surgicalMarginEnum.FocallyPositive}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Broadly Positive</ion-label>
                    <ion-radio value="{{surgicalMarginEnum.BroadlyPositive}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>None</ion-label>
                    <ion-radio value="{{surgicalMarginEnum.None}}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-button color="primary" type="submit" [disabled]="!pathologyForm.form.valid" (click)="save()">Save</ion-button>
        <!-- <ion-button color="primary" (click)="save()">Save</ion-button> -->
    </form>
</ion-content>