<ion-header>
  <ion-toolbar>
    <ion-title>Clinical Breast Staging</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [hidden]=isHideDescription>
    <ion-card-content>
      Description: {{clinicalOptionText}} 
    </ion-card-content>
  </ion-card>

  <ion-list>      
    <ion-list-header>Clinical Tumor Stage</ion-list-header>
    <ion-radio-group [(ngModel)]="staging.tumorStage" radio-group name="clinicaltumorstage" (ionChange)="clickClinicalTumorStage($event)" required>
        <ion-item>
          <ion-label>TX</ion-label>
          <ion-radio slot="start" value="TX"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>T0</ion-label>
          <ion-radio slot="start" value="T0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Tis(DCIS)</ion-label>
          <ion-radio slot="start" value="Tis(DCIS)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Tis(Paget)</ion-label>
          <ion-radio slot="start" value="Tis(Paget)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>T1</ion-label>
          <ion-radio slot="start" value="T1"></ion-radio>
        </ion-item>

            <div [hidden]=isHideT1SubRadioButtons class="hiddenSubRadioButtons">
              <ion-item >
                  <ion-label>T1mi</ion-label>
                  <ion-radio slot="start" value="T1mi"></ion-radio>
              </ion-item>

              <ion-item >
                  <ion-label>T1a</ion-label>
                  <ion-radio slot="start" value="T1a"></ion-radio>
              </ion-item>
          
              <ion-item >
                  <ion-label>T1b</ion-label>
                  <ion-radio slot="start" value="T1b"></ion-radio>
              </ion-item>
          
              <ion-item >
                  <ion-label>T1c</ion-label>
                  <ion-radio slot="start" value="T1c"></ion-radio>
              </ion-item>
            </div>

        <ion-item>
          <ion-label>T2</ion-label>
          <ion-radio slot="start" value="T2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>T3</ion-label>
          <ion-radio slot="start" value="T3"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>T4</ion-label>
          <ion-radio slot="start" value="T4"></ion-radio>
        </ion-item>

            <div [hidden]=isHideT4SubRadioButtons class="hiddenSubRadioButtons">
              <ion-item >
                  <ion-label>T4a</ion-label>
                  <ion-radio slot="start" value="T4a"></ion-radio>
              </ion-item>

              <ion-item >
                  <ion-label>T4b</ion-label>
                  <ion-radio slot="start" value="T4b"></ion-radio>
              </ion-item>
          
              <ion-item >
                  <ion-label>T4c</ion-label>
                  <ion-radio slot="start" value="T4c"></ion-radio>
              </ion-item>
          
              <ion-item >
                  <ion-label>T4d</ion-label>
                  <ion-radio slot="start" value="T4d"></ion-radio>
              </ion-item>
            </div>
    </ion-radio-group>
  </ion-list>

  <ion-list>      
    <ion-list-header>Clinical Nodal Stage</ion-list-header>
    <ion-radio-group [(ngModel)]="staging.nodalStage" radio-group name="clinicalnodalstage" (ionChange)="clickClinicalNodalStage($event)" required>
        <ion-item>
          <ion-label>cNX</ion-label>
          <ion-radio slot="start" value="cNX"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>cN0</ion-label>
          <ion-radio slot="start" value="cN0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>cN1</ion-label>
          <ion-radio slot="start" value="cN1"></ion-radio>
        </ion-item>

          <div [hidden]=isHidecN1SubRadioButtons class="hiddenSubRadioButtons">
            <ion-item >
                <ion-label>cN1mi</ion-label>
                <ion-radio slot="start" value="cN1mi"></ion-radio>
            </ion-item>
          </div>

        <ion-item>
          <ion-label>cN2</ion-label>
          <ion-radio slot="start" value="cN2"></ion-radio>
        </ion-item>

          <div [hidden]=isHidecN2SubRadioButtons class="hiddenSubRadioButtons">
            <ion-item >
                <ion-label>cN2a</ion-label>
                <ion-radio slot="start" value="cN2a"></ion-radio>
            </ion-item>
          </div>

        <ion-item>
          <ion-label>cN3</ion-label>
          <ion-radio slot="start" value="cN3"></ion-radio>
        </ion-item>

          <div [hidden]=isHidecN3SubRadioButtons class="hiddenSubRadioButtons">
            <ion-item >
                <ion-label>cN3a</ion-label>
                <ion-radio slot="start" value="cN3a"></ion-radio>
            </ion-item>
          </div>

    </ion-radio-group>
  </ion-list>
  
  <ion-list>      
    <ion-list-header>Metastatic Stage</ion-list-header>
    <ion-radio-group [(ngModel)]="staging.metastaticStage" radio-group name="clinicalmetatstaticstage" required>
        <ion-item>
          <ion-label>M0</ion-label>
          <ion-radio slot="start" value="m0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>M1</ion-label>
          <ion-radio slot="start" value="m1"></ion-radio>
        </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button color="primary" type="submit" [disabled]="!isFormValid" (click)="save()">Save</ion-button>
  
</ion-content>