<!--
  Generated template for the PatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu contentId="menuContent">
  <ion-content>
    <ion-list>
      <div id="menu-padding"></div>
      <ion-button ion-item menuClose [routerLink]="['patient-form']">
        <ion-icon name="body" class="icon-menu"></ion-icon>Add patient
      </ion-button>
      <ion-button ion-item menuClose (click)="showGraph()">
        <ion-icon name="podium" class="icon-menu"></ion-icon>Show graph
      </ion-button>
      <ion-item>
        <ion-label>
          <ion-icon name="settings" class="icon-menu"></ion-icon>Show only my patients
        </ion-label>
        <ion-toggle checked="false" [(ngModel)]="showOnlyMyPatients" (ionChange)="togglePatients()"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-icon name="settings" class="icon-menu"></ion-icon>No surgeries
          </ion-label>
          <ion-toggle checked="false" [(ngModel)]="showOnlyPatientsWithoutCompletedSurgeries" (ionChange)="togglePatients()"></ion-toggle>
        </ion-item>
      <ion-button ion-item menuClose (click)="aboutPage()">
        About
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="menuContent" [root]="rootPage"></ion-nav>

<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isAuthenticated">Hello, {{currentAuthenticatedUsername}}!</ion-title>
    <ion-title *ngIf="!isAuthenticated">Please log in</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button *ngIf="isAuthenticated" menuToggle>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ng-container *ngIf="lastActiveSync != null">Last data sync at {{lastActiveSync}}</ng-container>
      <ion-button *ngIf="!isAuthenticated" (click)="login()">
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="getPatients()">
        <ion-icon name="md-refresh"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="doSort()">
        <ion-icon name="md-options"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button class="button" (click)="print()">
        <ion-icon name="print"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="login()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="search-toolbar" (ionInput)="filterPatientList($event)" showCancelButton="true" 
      placeholder="Search patients" *ngIf="isAuthenticated==true&&isSearchbarOpened" 
      (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-list #patientList>
      <ion-item-sliding *ngFor="let patient of patients">        
        <ion-item *ngIf="showPatient(patient)" [routerLink]="['/patient/' + patient._id]" text-wrap>
          <ion-avatar item-start>
            <ion-icon name="contact" class="icon-contact"></ion-icon>
          </ion-avatar>
          <div class='patient-container'>
            <h2>
              {{patient.lastName}}, {{patient.firstName}}
            </h2>
            <div *ngIf="getSurgeryStatus(patient) == 0">
              <span class='patient-status'>
                <ion-icon name="warning" style='color:red'></ion-icon>
                {{getSurgerySummary(patient)}}
              </span>
            </div>
            <div *ngIf="getSurgeryStatus(patient) == 1">
                <span class='patient-status'>
                  Surgery <span style='color:green'>{{getSurgeryStatusText(patient)}}</span>
                  {{getSurgerySummary(patient)}}
                </span>
            </div>
            <div *ngIf="getSurgeryStatus(patient) == 2">
                <span class='patient-status'>
                  Surgery <span style='color:blue'>{{getSurgeryStatusText(patient)}}</span>
                  {{getSurgerySummary(patient)}}
                </span>
            </div>
            <div *ngIf="getSurgeryStatus(patient) == 3">
                <span class='patient-status'>
                  Surgery <span style='color:blue'>{{getSurgeryStatusText(patient)}}</span>
                  {{getSurgerySummary(patient)}}
                </span>
            </div>
            <div *ngIf="getSurgeryStatus(patient) == 4">
              <span class='patient-status'>
                <ion-icon name="warning" style='color:red'></ion-icon>
                Surgery <span style='color:red'>{{getSurgeryStatusText(patient)}}</span>
                {{getSurgerySummary(patient)}}
              </span>
            </div>
          </div>
          <ion-note slot="end">
              <ion-icon name="arrow-dropright" class="icon-right-arrow"></ion-icon>
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option *ngIf="isWatchingPatient(patient)==false" (click)="watchPatient(patient)">
            Watch
          </ion-item-option>
          <ion-item-option *ngIf="isWatchingPatient(patient)==true" color="secondary" (click)="unWatchPatient(patient)">
            Un-watch
          </ion-item-option>
          <ion-item-option color="danger" (click)="removePatientConfirm(patient)">
            Remove
          </ion-item-option>
        </ion-item-options> 
        
      </ion-item-sliding>
    </ion-list>
    

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/patient-form']"><ion-icon name="add"></ion-icon></ion-fab-button> 
    </ion-fab>

</ion-content>