<!--
  Generated template for the PatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu contentId="menuContent">
  <ion-content>
    <ion-list>
      <div id="menu-padding"></div>
      <ion-button ion-item menuClose [routerLink]="['patient-form']">
        <ion-icon name="body" class="icon-menu"></ion-icon>Add patient
      </ion-button>
      <ion-button ion-item menuClose (click)="showGraph()">
        <ion-icon name="podium" class="icon-menu"></ion-icon>Show graph
      </ion-button>
      <ion-item>
        <ion-label>
          <ion-icon name="settings" class="icon-menu"></ion-icon>Show only my patients
        </ion-label>
        <ion-toggle checked="false" [(ngModel)]="showOnlyMyPatients" (ionChange)="getPatients()"></ion-toggle>
      </ion-item>
      <ion-list>
        <ion-radio-group [(ngModel)]="ptFilter" (ionChange)="getPatients()">
          <ion-list-header>Patient filters</ion-list-header>
          <ion-item>
            <ion-label>{{patientListFilterEnum.All}}</ion-label>
            <ion-radio value={{patientListFilterEnum.All}}></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{patientListFilterEnum.NotScheduled}}</ion-label>
            <ion-radio value={{patientListFilterEnum.NotScheduled}}></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{patientListFilterEnum.ScheduledSurgery}}</ion-label>
            <ion-radio value={{patientListFilterEnum.ScheduledSurgery}}></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{patientListFilterEnum.ScheduledBiopsy}}</ion-label>
            <ion-radio value={{patientListFilterEnum.ScheduledBiopsy}}></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-list>
        <ion-radio-group [(ngModel)]="sortOrder" (ionChange)="displayPatientsBySortOrder()">
          <ion-list-header>Sort Patients</ion-list-header>
          <ion-item>
            <ion-label>Last Edited Date (desc)</ion-label>
            <ion-radio value="lastEditedDate"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Name (asc)</ion-label>
            <ion-radio value="ascName"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Name (desc)</ion-label>
            <ion-radio value="descName"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Sch. Surg (asc)</ion-label>
            <ion-radio value="ascSurgDate"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Sch. Surg (desc)</ion-label>
            <ion-radio value="descSurgDate"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button ion-item menuClose (click)="aboutPage()">
        About
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- <ion-nav id="menuContent" [root]="rootPage"></ion-nav> -->

<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isAuthenticated">
      Hello, {{currentAuthenticatedUsername}}!
      <span style="font-size: 0.5em" *ngIf="lastActiveSync != null"><br/>Last sync {{lastActiveSync}}</span>
    </ion-title>
    <ion-title *ngIf="!isAuthenticated">Please log in</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button *ngIf="isAuthenticated" menuToggle>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="!isAuthenticated" (click)="login()">
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="getPatients()">
        <ion-icon name="md-refresh"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button class="button" (click)="print()">
        <ion-icon name="print"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuthenticated" (click)="login()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search-toolbar" (ionInput)="filterPatientList($event)" showCancelButton="true" 
    placeholder="Search patients" *ngIf="isSearchbarOpened" 
    (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
  <ion-list #patientList>
    <ion-item-sliding *ngFor="let patient of patients">
      <ng-container *ngIf="!patient.isArchived">
        <ion-item [routerLink]="['/patient/' + patient._id]" text-wrap>
          <ion-avatar item-start>
            <ion-icon name="contact" class="icon-contact"></ion-icon>
          </ion-avatar>
          <div class='patient-container'>
            {{patient.lastName}}, {{patient.firstName}}
            <div *ngIf="getSurgeryStatus(patient) == surgeryStatusEnum.NotScheduled || getSurgeryStatus(patient) == surgeryStatusEnum.NotIndicated || getSurgeryStatus(patient) == surgeryStatusEnum.Missed">
              <span class='patient-status'>
                <ion-icon name="warning" style='color:red'></ion-icon>
                <span style='color:red'>{{getSurgerySummary(patient)}}</span>
              </span>
            </div>
            <div *ngIf="getSurgeryStatus(patient) == surgeryStatusEnum.ScheduledToday">
                <span class='patient-status'>
                  <span style='color:green'>{{getSurgerySummary(patient)}}</span>
                </span>
            </div>
            <div *ngIf="getSurgeryStatus(patient) == surgeryStatusEnum.Scheduled || getSurgeryStatus(patient) == surgeryStatusEnum.Completed">
                <span class='patient-status'>
                  <span style='color:blue'>{{getSurgerySummary(patient)}}</span>
                </span>
            </div>
          </div>
          <ion-note slot="end">
            <ion-icon name="arrow-dropright" class="icon-right-arrow"></ion-icon>
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option *ngIf="!isWatchingPatient(patient)" (click)="watchPatient(patient)">
            Watch
          </ion-item-option>
          <ion-item-option *ngIf="isWatchingPatient(patient)" color="secondary" (click)="unWatchPatient(patient)">
            Un-watch
          </ion-item-option>
          <ion-item-option color="danger" (click)="removePatientConfirm(patient)">
            Remove
          </ion-item-option>
        </ion-item-options>
      </ng-container> 
    </ion-item-sliding>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="loadMorePatients($event)" *ngIf="infiniteScrollFlag">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more patients...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/patient-form']"><ion-icon name="add"></ion-icon></ion-fab-button> 
  </ion-fab>
</ion-content>

<!-- use Angular's navigator object to check for connectivity -->
<ion-footer *ngIf="!isOnline">
  <ion-text class="offline-warning">You are currently offline</ion-text>
</ion-footer>