.toolbar-background-md, .tabs-md .tabbar {
    background-color: rgb(44,130,201);
}

.toolbar-title-md, .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .tab-button-icon, .tab-button-text {
    color: rgb(255, 255, 255) !important;
}

.icon-contact {
    font-size: 1.5em;
    color: rgba(34, 34, 34, 0.918);
}

.patient-container {
    width: 100%;
}

.patient-status {
    color: #777;
    font-size: 1em;
}

.icon-right-arrow {
    font-size: 3em;
    padding-left: .2em;
}

#menu-padding {
    height: 4em;
    background-color: rgb(44,130,201);
}

.icon-menu {
    padding-right: 1em;
}

.toolbar-background .toolbar-background-md{
    display: none !important;
    background-color: red;
}

ion-header {
    ion-toolbar {
        --background: rgb(44,130,201) !important;
        --color: rgb(255, 255, 255)
    }

    ion-button {
        --background: rgb(44,130,201) !important;
        --color: rgb(255, 255, 255)
    }
}

ion-content {
    ion-button {
        --background: rgb(255, 255, 255) !important;
        --color: rgb(0, 0, 0) !important;
    }
}

.sort-prompt {
    width: 500px;
}