<ion-header>
    <ion-toolbar>
        <ion-title>Surgery for {{patient.lastName}}, {{patient.firstName}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" #surgeryForm="ngForm">
    <ion-item>
      <ion-label>Scheduled Date</ion-label>
      <ion-input type="date" name="scheduledDate" [(ngModel)]="scheduledDate" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Facility</ion-label>
      <ion-input type="text" name="facility" [(ngModel)]="surgery.facility" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Provider Name</ion-label>
      <ion-input type="text" name="providerName" [(ngModel)]="surgery.providerName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Completed Date</ion-label>
      <ion-input type="date" name="completedDate" [(ngModel)]="completedDate"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" type="submit" [disabled]="!surgeryForm.form.valid">Save</button>
    </div>
  </form>
</ion-content>
  