<ion-header>
  <ion-toolbar>
    <ion-title>Chemotherapy</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>      
    <ion-list-header>Chemotherapy Regimen</ion-list-header>
    <ion-radio-group [(ngModel)]="chemotherapy.regimen" radio-group name="regimen" required>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.ACT}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.ACT}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.ACD}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.ACD}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.ACP}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.ACP}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.CAF}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.CAF}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.Dox}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.Dox}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.Pax}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.Pax}}"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{chemotherapyRegimenEnum.Other}}</ion-label>
        <ion-radio slot="start" value="{{chemotherapyRegimenEnum.Other}}"></ion-radio>
      </ion-item>      
    </ion-radio-group>
  </ion-list>

  <ion-item *ngIf="chemotherapy.regimen == chemotherapyRegimenEnum.Other">
    <ion-label>Other Regimen</ion-label>
    <ion-input type="text" name="regimenOther" [(ngModel)]="chemotherapy.regimenOther" required></ion-input>
  </ion-item>

  <ion-item>     
    <ion-label>Chemotherapy Start Date</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="chemotherapy.startDate" name="startDate" required></ion-datetime>
  </ion-item>
 
  <ion-item>
    <ion-label>Planned Cycles (#)</ion-label>
    <ion-input type="text" name="cycles" required [(ngModel)]="chemotherapy.plannedCycles"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Calculated End Date</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="chemotherapy.calculatedEndDate" name="calculatedEndDate" required></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Actual End Date</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="chemotherapy.actualEndDate" name="actualEndDate" required></ion-datetime>
  </ion-item>

  <ion-toolbar>
      <ion-button color="primary" slot="end" 
        (click)="save()">Save</ion-button>
  </ion-toolbar>

</ion-content>