<b>Surgeries</b>
<br/>
<p *ngIf="patient.surgery != null && patient.surgery.surgeryStatus != null; else elseBlock">
  Status: {{patient.surgery.surgeryStatus}}
  <br/>
  <ng-container *ngIf="patient.surgery.surgeryStatus == surgeryStatusEnum.Scheduled">
    Scheduled on {{dateUtils.toLocaleDateString(patient.surgery.scheduledSurgery.scheduledDate)}} with 
    {{patient.surgery.scheduledSurgery.surgeonName}} at 
    {{patient.surgery.scheduledSurgery.facility}} 
    <br/>
  </ng-container>
  <ng-container *ngIf="patient.surgery.surgeryStatus == surgeryStatusEnum.NotScheduled">
    Reason: {{patient.surgery.surgeryNotScheduled.reason}} 
    (recorded on {{this.dateUtils.toLocaleDateString(patient.surgery.surgeryNotScheduled.dateRecorded)}})
    <br/>
    Reminder Date: {{this.dateUtils.toLocaleDateString(patient.surgery.surgeryNotScheduled.dateReminder)}}
    <br/>
  </ng-container>
  <ng-container *ngIf="patient.surgery.surgeryStatus == surgeryStatusEnum.NotIndicated">
    Reason: {{patient.surgery.surgeryNotIndicated.reason}} 
    (recorded on {{this.dateUtils.toLocaleDateString(patient.surgery.surgeryNotIndicated.dateRecorded)}})
    <br/>
  </ng-container>
  <ng-container *ngIf="mostRecentCompletedSurgery != null">
    <app-completed-surgery-summary [surgery]="mostRecentCompletedSurgery"></app-completed-surgery-summary>
  </ng-container>
</p>

<ng-template #elseBlock>No information found. </ng-template>
