<div>
  <span class="tab-heading">
    <ion-icon name="medical"></ion-icon>Surgeries
  </span>
  <ion-icon name="create" (click)="updateStatus()"></ion-icon>
</div>

<ng-container *ngIf="patient != null">
  <!-- Update Status -->
  <ion-item-group *ngIf="updateSurgeryStatusFlag">
    <ion-item-divider>
      <ion-label>Update Surgery Status</ion-label>
    </ion-item-divider>
    <form #surgeryStatusForm="ngForm">
      <ion-radio-group name="surgeryStatus" [(ngModel)]="surgeryStatus" required>
        <ion-item>
          <ion-label>Completed</ion-label>
          <ion-radio value="{{surgeryStatusEnum.Completed}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Scheduled</ion-label>
          <ion-radio value="{{surgeryStatusEnum.Scheduled}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not Scheduled</ion-label>
          <ion-radio value="{{surgeryStatusEnum.NotScheduled}}"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not Indicated</ion-label>
          <ion-radio value="{{surgeryStatusEnum.NotIndicated}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-toolbar>
        <ion-button color="primary" slot="end" (click)="updateStatus()">Cancel</ion-button>
        <ion-button color="primary" slot="end" [disabled]="!surgeryStatusForm.form.valid" 
          (click)="next()">Next</ion-button>
      </ion-toolbar>
    </form>
  </ion-item-group>

  <!-- Summary -->
  <ion-card *ngIf="patient.surgery != null && patient.surgery.surgeryStatus != null; else elseBlock">
    <ion-card-content>
      <app-surgery-summary [patient]="patient"></app-surgery-summary>
    </ion-card-content>
  </ion-card>
  <ng-template #elseBlock>
    <div class="no-information" *ngIf="!updateSurgeryStatusFlag">No information found.</div>
  </ng-template>
  
  <!-- Completed Surgeries -->
  <ion-item-group *ngIf="patient.surgery != null && patient.surgery.completedSurgeries != null
    && patient.surgery.completedSurgeries.length > 0">
    <ion-item-divider>
      <ion-label>Completed Surgeries</ion-label>
    </ion-item-divider>
    <ion-list *ngIf="patient.surgery.completedSurgeries.length > 0; else noSurgeriesBlock">
      <ion-item *ngFor="let surgery of patient.surgery.completedSurgeries" 
        [routerLink]="'surgery/completed-surgery/' + surgery.id">
        Surgery completed on {{surgery.completedDate}} by {{surgery.surgeonName}}
      </ion-item>
    </ion-list>
    <ng-template #noSurgeriesBlock>
      <ion-item>None</ion-item>
    </ng-template>    
  </ion-item-group>

  <ion-toolbar>
    <ion-button slot="end" color="primary" shape="round" fill="solid" 
      [routerLink]="['/patient/' + patient._id + '/surgery/completed-surgery']">
        <ion-icon name="add"></ion-icon>Completed Surgery
    </ion-button>
  </ion-toolbar>

</ng-container>
