<!--  Surgical Pathology -->
<ion-card-header class="card-header">
  <ion-icon name="body"></ion-icon>
  Surgical Pathology
</ion-card-header>

<ion-list #surgicalPathologyList>
  <ion-item-sliding *ngFor="let pathology of patient.surgicalPathologies">
    <ion-item text-wrap [routerLink]="['/patient/' + patient._id + '/surgical-pathology/' + pathology.id]">
      {{pathology.surgeryType}} on {{this.dateUtils.toLocaleDateString(pathology.surgeryDate)}}
    </ion-item>
    <!-- delete option -->
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeSurgicalPathologyConfirm(pathology)">
        Remove
      </ion-item-option>
    </ion-item-options> 
  </ion-item-sliding>
</ion-list>

<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button color="primary" shape="round" fill="solid" [routerLink]="['/patient/' + patient._id + '/surgical-pathology/']" class="add-button">
        <ion-icon name="add"></ion-icon>
        Add Pathology
    </ion-button>
  </ion-buttons>
</ion-toolbar>