<ion-header>
  <ion-toolbar>
    <ion-title>Patient Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" #patientForm="ngForm">
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" name="firstName" required [(ngModel)]="patient.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" name="lastName" required [(ngModel)]="patient.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>DOB</ion-label>
      <ion-datetime name="dob" [(ngModel)]="patient.dob" required></ion-datetime>
    </ion-item>

    <ion-list>      
      <ion-list-header>Gender</ion-list-header>
      <ion-radio-group radio-group name="gender" [(ngModel)]="patient.gender" required>
          <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="female" checked></ion-radio>
            </ion-item>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="male"></ion-radio>
          </ion-item>
      </ion-radio-group>     
    </ion-list>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input type="text" name="phoneNumber" [(ngModel)]="patient.phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contact First Name</ion-label>
      <ion-input type="text" name="contactFirstName" [(ngModel)]="patient.contactFirstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contact Last Name</ion-label>
      <ion-input type="text" name="contactLastName" [(ngModel)]="patient.contactLastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contact Phone Number</ion-label>
      <ion-input type="text" name="contactPhoneNumber" [(ngModel)]="patient.contactPhoneNumber"></ion-input>
    </ion-item>
    <ion-toolbar>
      <ion-button slot="end" color="primary" type="submit" shape="round" 
        [disabled]="!patientForm.form.valid">Next</ion-button>
    </ion-toolbar>
  </form>
</ion-content>
