<!--
  Generated template for the PatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Patients</ion-title>

    <ion-buttons left>
      <button *ngIf="isAuthenticated" ion-button icon-only (click)="addPatient()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button *ngIf="isAuthenticated" ion-button icon-only (click)="showGraph()">
          <ion-icon name="pie"></ion-icon>
        </button>
    </ion-buttons>

    <ion-buttons end>
      <button *ngIf="!isAuthenticated" ion-button icon-only (click)="login()">
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button *ngIf="isAuthenticated" ion-button icon-only (click)="sortPatientList('ascend')">
        <ion-icon name="md-arrow-up"></ion-icon>
      </button>
      <button *ngIf="isAuthenticated" ion-button icon-only (click)="sortPatientList('descend')">
        <ion-icon name="md-arrow-down"></ion-icon>
      </button>
      <button *ngIf="isAuthenticated" ion-button icon-only (click)="login()">
        <ion-icon name="log-out"></ion-icon>
      </button>      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="isAuthenticated==true">
      <ion-searchbar (ionInput)="filterPatientList($event)" showCancelButton="shouldShowCancel" placeholder="Search patients"></ion-searchbar>
    </ion-toolbar>
    <ion-list>
      <ion-item-sliding *ngFor="let patient of patients">
        <button ion-item (click)="viewPatient(patient)">
          <h2>{{patient.LastName}}, {{patient.FirstName}}</h2>

          <div *ngIf="getSurgeryStatus(patient) == 0">
            <span style='color:red'>{{getSurgerySummary(patient)}}</span>
          </div>
          <div *ngIf="getSurgeryStatus(patient) == 1">
            <span style='color:green'>{{getSurgerySummary(patient)}}</span>
          </div>
          <div *ngIf="getSurgeryStatus(patient) == 2">
            <span style='color:blue'>{{getSurgerySummary(patient)}}</span>
          </div>
          <div *ngIf="getSurgeryStatus(patient) == 3">
            <span style='color:blue'>{{getSurgerySummary(patient)}}</span>
          </div>
          <div *ngIf="getSurgeryStatus(patient) == 4">
            <span style='color:red'>{{getSurgerySummary(patient)}}</span>
          </div>

          <!-- <p>Biopsy Status: {{patient.BiopsyStatus}}</p>
          <div *ngIf="isBiopsyAfterCurrentDate(patient.ScheduledBiopsyDate) == 'true'">
            <span style='color:blue'>Scheduled Biopsy Date is greater than today's date</span>
           </div>
           <div *ngIf="isBiopsyAfterCurrentDate(patient.ScheduledBiopsyDate) == 'false'">
            <span style='color:red'>Scheduled Biopsy Date is lesser than today's date</span>
           </div> -->

        </button>
        <ion-item-options side="right">
          <button *ngIf="isWatchingPatient(patient)==false" ion-button (click)="watchPatient(patient)">
            Watch
          </button>
          <button *ngIf="isWatchingPatient(patient)==true"  ion-button color="secondary" (click)="unWatchPatient(patient)">
            Un-watch
          </button>
          <button ion-button color="danger" (click)="removePatientConfirm(patient)">
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
</ion-content>

<ion-footer>
  <ion-item  *ngIf="isAuthenticated">
    <ion-label>Show only my patients</ion-label>
    <ion-toggle checked="false" [(ngModel)]="showOnlyMyPatients" (ionChange)="togglePatients()"></ion-toggle>
  </ion-item>
</ion-footer>