<!-- Scheduled Surgery -->
<ion-card-header class="card-header">
  <ion-icon name="pulse"></ion-icon>&nbsp;&nbsp;Scheduled Surgery
</ion-card-header>

<ion-list #surgeryList>
  <ion-item-sliding *ngFor="let surgery of patient.surgeries">
    <ion-item text-wrap *ngIf="surgery.completedDate != null; else elseBlock" 
      [routerLink]="['/patient/' + patient._id + '/scheduled-surgery/' + surgery.id]">
      Surgery completed on {{this.dateUtils.toLocaleDateString(surgery.completedDate)}} at {{surgery.facility}} with {{surgery.providerName}}
    </ion-item>
    <ng-template #elseBlock>
      <ion-item text-wrap [routerLink]="['/patient/' + patient._id + '/scheduled-surgery/' + surgery.id]">
        Scheduled on {{this.dateUtils.toLocaleDateString(surgery.scheduledDate)}} at {{surgery.facility}} with {{surgery.providerName}}
      </ion-item>
    </ng-template>
    <!-- delete option -->
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeSurgeryConfirm(surgery)">
        Remove
      </ion-item-option>
    </ion-item-options> 
  </ion-item-sliding>
</ion-list>

<ion-toolbar>
  <ion-buttons slot="end">
      <ion-button color="primary" shape="round" fill="solid" [routerLink]="['/patient/' + patient._id + '/scheduled-surgery/']" class="add-button">
        <ion-icon name="add"></ion-icon>
        Add Surgery
    </ion-button>
  </ion-buttons>
</ion-toolbar>
