<ion-header>
  <ion-toolbar>
    <ion-title>biopsy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <ion-button [routerLink]="['biopsy-status']">status</ion-button>
    <ion-button [routerLink]="['biopsy-not-indicated']">not indicated</ion-button>
    <ion-button [routerLink]="['biopsy-not-scheduled']">not scheduled</ion-button>
    <ion-button [routerLink]="['completed-biopsy']">completed</ion-button>
    <ion-button [routerLink]="['scheduled-biopsy']">scheduled</ion-button>
    <ion-button [routerLink]="['']">Back to root</ion-button>
  </ion-buttons>
</ion-content>
